<div class="form-div" id="sign-up-form">
    <h1>{{"SIGNUP.TITLE" | translate}}</h1>

            <div id="progress-div">
                <div class="container-step">
                    <div class="progress-step">
                        <div class="step" [ngClass]="{'done' : progressForm > 0}">
                            <div class="bullet" [ngClass]="{'done' : progressForm > 0}">
                                <span>1</span>
                                <span>✓</span>
                            </div>
                            <p class="" [ngClass]="{'done' : progressForm > 0}">{{"SIGNUP.progressForm1" | translate}}</p>
                            <div class="check fas fa-check">
                            </div>
                        </div>
                        <div class="step" [ngClass]="{'done' : progressForm > 1}">
                            <div class="bullet" [ngClass]="{'done' : progressForm > 1}">
                                <span>2</span>
                                <span>✓</span>
                            </div>
                            <p [ngClass]="{'done' : progressForm > 1}">{{"SIGNUP.progressForm2" | translate}}</p>
                            <div class="check fas fa-check">
                            </div>
                        </div>
                        <div class="step" [ngClass]="{'done' : progressForm > 2}">
                            <div class="bullet" [ngClass]="{'done' : progressForm > 2}">
                                <span>3</span>
                                <span>✓</span>
                            </div>
                            <p [ngClass]="{'done' : progressForm > 2}">{{"SIGNUP.progressForm3" | translate}}</p>
                            <div class="check fas fa-check">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="AccountForm"  required>
                <div id="account-div" [ngClass]="{'none' : progressForm !== 0}">        
            <div id="input-field">
                <div id="first-last-name">
                    <div id="first-name">
                        
                        <label class="label">{{"SIGNUP.firstName" | translate}}</label>
                        <input formControlName="fname" type="text" name="fname" class="input" [ngClass]="{'border-danger' : AccountForm.controls['fname'].touched && AccountForm.controls['fname'].errors?.required}" id="fname" placeholder='{{"SIGNUP.firstName" | translate}}'>
                        <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="AccountForm.controls['fname'].touched && AccountForm.controls['fname'].errors?.required">
                            {{"SIGNUP.firstNameRequired" | translate}}
                        </span>
                    </div>
                    <div id="last-name">
                        <label class="label">{{"SIGNUP.lastName" | translate}}</label>
                        <input formControlName="lname" type="text" name="lname" class="input" [ngClass]="{'border-danger' : AccountForm.controls['lname'].touched && AccountForm.controls['lname'].errors?.required}" id="lname" placeholder='{{"SIGNUP.lastName" | translate}}'>
                        <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="AccountForm.controls['lname'].touched && AccountForm.controls['lname'].errors?.required">
                            {{"SIGNUP.lastNameRequired" | translate}}
                        </span>
                    </div>
                </div>
                <label class="label" [ngClass]="{'warning' : !emailValid}"  id="business-email-lable">{{"SIGNUP.emailAddress" | translate}}</label>
                <input type="email" (keyup)="verifyEmail()" formControlName="bemail" [ngClass]="{'border-danger' : AccountForm.controls['bemail'].touched && (AccountForm.controls['bemail'].errors?.required || AccountForm.controls['bemail'].errors?.emailUsed)}" name="bemail" autocomplete="off" class="input " [ngClass]="{'warning-highlight' : !emailValid}" id="bemail" placeholder='{{"SIGNUP.emailAddress" | translate}}'>
                <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="AccountForm.controls['bemail'].touched && AccountForm.controls['bemail'].errors?.required">
                    {{"SIGNUP.emailAddressRequired" | translate}}
                </span>
                  <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="AccountForm.controls['bemail'].touched && AccountForm.controls['bemail'].errors?.emailUsed">
                    {{"SIGNUP.emailAddressInvalid" | translate}}
                </span>
                <div class="message-alert " [ngClass]="{'hidden' : emailValid}"id="message-alert-signup-info">
                    <!-- <span class="closebtn" >&times;</span> -->
                    <i class="fa warning">&#xf06a;</i>
                    <p>{{"SIGNUP.warningEmailAddress" | translate}}</p>
                </div>
                <label class="label">{{"SIGNUP.businessName" | translate}}</label>
                <input type="text" formControlName="bname" name="bname" class="input" id="bname" [ngClass]="{'border-danger' : AccountForm.controls['bname'].touched && AccountForm.controls['bname'].errors?.required}" placeholder='{{"SIGNUP.businessName" | translate}}'>
                <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="AccountForm.controls['bname'].touched && AccountForm.controls['bname'].errors?.required">
                    {{"SIGNUP.businessRequired" | translate}}
                </span>
            </div>
            <div id="btn-div">
                <div id="link">
                    <label>{{"SIGNUP.haveAccount" | translate}} </label>
                    <a href="#">{{"SIGNUP.signIn" | translate}}</a>
                </div>
                <div id="submit-btn">   
                    <button class="next-button" (click)="accountSubmit()" id="next-step-1">{{"SIGNUP.nextStep" | translate}} &#8594;</button>
                </div>
            </div>
        </div>
        </form>
        <form [formGroup]="SettingForm" required>
            <div id="settings-div" [ngClass]="{'none' : progressForm !== 1}">
                <div id="input-field">
                    <label >{{"SIGNUP.userName" | translate}}</label>
                    <input type="text" [ngClass]="{'border-danger' : SettingForm.controls['username'].touched && (SettingForm.controls['username'].errors?.required || SettingForm.controls['username'].errors?.usernameUsed)}" formControlName="username" placeholder='{{"SIGNUP.userName" | translate}}'>
                    <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="SettingForm.controls['username'].touched && SettingForm.controls['username'].errors?.required">
                        {{"SIGNUP.userNameRequired" | translate}}
                    </span>
                    <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="SettingForm.controls['username'].touched && SettingForm.controls['username'].errors?.usernameUsed">
                        {{"SIGNUP.userNameInvalid" | translate}}
                    </span>
                    <label class="label" id="suggest-url-lable">{{"SIGNUP.urlWork" | translate}}</label>
                    <div style="display:inline;">
                        <span class="text-muted" style="margin-left: 2%;">https://osmosapp.com/</span>
                        <input id="url" [ngClass]="{'border-danger' : SettingForm.controls['url'].touched && (SettingForm.controls['url'].errors?.required || SettingForm.controls['url'].errors?.urlUsed)}" name="url" formControlName="url" class="input" type="text" placeholder='{{"SIGNUP.myBusiness" | translate}}' value="">
                    </div>
                    <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="SettingForm.controls['url'].touched && SettingForm.controls['url'].errors?.required">
                        {{"SIGNUP.WorkRequired" | translate}}
                    </span>
                    <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="SettingForm.controls['url'].touched && SettingForm.controls['url'].errors?.urlUsed">
                        {{"SIGNUP.workInvalid" | translate}}
                    </span>
                    <div class="url-suggest none" id="message-alert-suggest-url">
                        <h4>{{"SIGNUP.urlSuggested" | translate}} </h4>
                        <ul>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
                <div id="btn-div" class="sign-up-settings">
                    <div id="link">
                        <!--<button class="next-button" id="back-step-1">Next Step &#8594;</button>-->
                        <button (click)="backBtn()" id="back-step-1"><b>&#8592;</b>  {{"SIGNUP.back" | translate}}</button>
                    </div>
                    <div id="submit-btn">
                        <button (click)="settingsSubmit()" class="next-button" id="next-step-2">{{"SIGNUP.nextStep" | translate}} &#8594;</button>
                        <!--<input type="submit" id="next-step" value="Next Step &#8594;">-->
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="CompleteForm" required>

        <div id="complete-div" class="none" [ngClass]="{'none' : progressForm !== 2}">
            <div id="input-field">
                <label for="terms">{{"SIGNUP.termsConditions" | translate}}</label>
                <label class="check-cont">
                    <input formControlName="tyc"  type="checkbox">
                    <span class="checkmark" [ngClass]="{'border-danger' : CompleteForm.controls['tyc'].touched && CompleteForm.controls['tyc'].errors?.required}"></span>
                </label>
                
                <p for="" id="checkbox-label">
                    {{"SIGNUP.agreeTerms" | translate}} <a target="_blank" href="https://www.osmoscloud.com/Terms-of-service" style="text-decoration: none;color: #0099FF;">{{"SIGNUP.termsConditions" | translate}}</a>.
                </p>
                <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CompleteForm.controls['tyc'].touched && CompleteForm.controls['tyc'].errors?.required">
                    {{"SIGNUP.warningAgreeTerms" | translate}}
                </span><br>
                <label for="coupon">{{"SIGNUP.haveAccount" | translate}}</label>
                <input id="coupon" formControlName="coupon" type="text" placeholder='{{"SIGNUP.coupon" | translate}}'>
                <div id="btn-div" class="sign-up-settings">
                    <div id="link">
                        <button (click)="backBtn()" id="back-step-2"><b>&#8592;</b>  {{"SIGNUP.back" | translate}}</button>
                    </div>
                    <div id="submit-btn">
                        <button type="button" (click)="completeSubmit()" class="next-button" id="create-account">
                            {{"SIGNUP.createAccount" | translate}}
                            </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<ng-template #content let-modal>
    <div class="modal-body p-0 pb-4 ">
        <div >
            <img class="w-100 " src="/assets/img/auth/success.png" alt="success">
        </div>
      <div class="text-center">
        <p class="font-xx mt-5">{{"SIGNUP.success" | translate}}</p>
        <p class="text-muted font-large mt-3">{{"SIGNUP.created" | translate}} <br>
            {{"SIGNUP.checkumail" | translate}}</p>
        <button class="btn btn-osmos btn-lg mt-3" (click)="reSendMail()">{{"SIGNUP.resendmail" | translate}}</button>
        <p style="color:blue;margin-left:2%;margin-top:2%;font-size:small;width: inherit;text-align: center;display:block" *ngIf="resendmail == true">
            {{"SIGNUP.resendMail" | translate}}
        </p>
      </div>
    </div>
</ng-template>