*{
    font-family: 'Poppins', sans-serif;
}
i {
    font-family: FontAwesome !important;
}
.bg-img{
    background-image: url("/assets/img/auth/BG.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    padding: 20vh 70px 0 70px;
}
.bg-img-b{
    background-image: url("/assets/img/auth/bolitas.png");
    background-size: 100% 100%;
    padding: 6%;
}
.img-ico{
    position: absolute;
    left: 7vh;
    width: 20vh;
    top: 4vh;
}
.switch-button {
    border-radius: 30px;
    width: 220px;
    text-align: center;
    position: relative;
    padding-right: 105px;
    border: 2px solid #e5edf1;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span2 {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #92adab;
    left: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.switch-button-checkbox:checked + .switch-button-label .switch-button-label-span2{
    color: #fff;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
    color: #fff;
}
.switch-button-checkbox:checked + .switch-button-label .switch-button-label-span{
    color: #92adab;
}
.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(105px);
    transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #0099ff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}
.container-text1{
    border: 1px solid #0099FF;
    padding: 15px 25px;
    width: 290px;
    margin: 13px;
    color: #0099ff;
    position: relative;
    margin-bottom: 50px;
    height: 350px;
}
p{
    margin: 0;
}
.select-p{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #0099ff;
    width: 83%;
}
.select-p option{
    color: #000;
    background: #fff;
}
.btn-1{
    background: #0099ff;
    color: #fff;
}
.btn-1:hover{
    color: #fff;
}
.btn-text{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    background: #c1d6e3;
    color: #fff;
}
.btn-text:hover{
    background: #0099ff;
    color: #fff;
}
.container-form3{
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 70px;
    grid-auto-flow: dense;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}
.img-visa{
    width: 40px;
}
.cnt-btn2{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 2vh;
    grid-auto-flow: dense;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}
.img-form{
    width: 25%; 
    min-width: 150px;
    object-fit: contain;
    align-self: center;
}
.bg-color{
    background-color: #277fec;
    background-size: cover;
    height: 100vh;
    padding: 70px 50px 130px 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.bg-osmos {
    background-color: #277fec;

}
.bg-color-1{
    background-color: #277fec;
    background-size: cover;
    height: 100vh;
    padding: 70px 50px 130px 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.btn-2{
    background: #FE771F;
    align-self: center;
    border: none;
    padding: 1.5vh 4vh;
    /* font-size: 2.9vh !important; */
}
.btn-1:hover{
    transform: scale(1.05);
    background: #FB6F1F ;
    transition: 0.5s;
}
.fs-9{
    font-size: 4vh;
}
.fs-10{
    font-size: 2.4vh;
}
.fs-7{
    font-size: 2.5vh;
}
.div-select{
    margin-bottom: 12vh;
    margin-top: 2vh;
}
.fs-8{
    font-size: 2vh;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.input-num{
    width: 8vw;
    border: none;
     outline: none;
    text-align: center;
    background: transparent;
}
.btn-cont{
    width: 4.7vh;
    height: 4.7vh;
    font-size: 3vh;
    align-self: center;
}
.btn-cont:focus{
    box-shadow: 0 0 0 0.07rem #000 !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}
.btn-3{
    position: absolute;
    right: 14%;
    bottom: 12%;
    color: #fff;
    padding: 9px 25px;
    border-radius: 10px;
    font-size: 2vh;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-5 + label {
    color: #c39f77;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #9f8465;
}

.inputfile-5 + label figure {
    width: 13vh;
    height: 13vh;
    padding: 10px;
    margin: 0;
    border: 1px dashed #CBCBCB;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #999;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #CBCBCB;
}
.conatiner-users{
    border: 2px solid #e5edf1;
    max-height: 55vh;
    overflow: auto;
    max-width: 87vh;
}
.btn-4{
    color: #888;
    border: 2px solid #e5edf1;
    padding: 1.2vh 4vh;
    font-size: 2.9vh !important;
}
.container-elements{
    width: 47vh
}
.container-elements-2{
    width: 35vh
}
.container-elements-3{
    width: 52vh
}
.container-elements-4{
    width: 51vw
}
@media (max-width: 1010px){
    .bg-color{
        height: 100% !important;
    }
    .bg-color-1{
        height: 115vh !important;
    }
    .p-r{
        padding-bottom: 70px;
    }
    .p-r2{
        padding-bottom: 30px;
    }
}
@media (max-width: 550px){
    .btn-2 , .btn-4{
        width: 100%;
    }
    .container-elements , .container-elements-2 , 
    .container-elements-3 , .container-elements-4{
    width: 100% !important; 
    }
    .container-btn{
        right: 20px !important;
        left: 20px;
        margin: 20px !important;
    }
     .bg-color-1{
        height: 100% !important;
    }
}
@media (max-width: 380px){
    
     .bg-color-1{
        padding:0;
    }
    .footer-onboarding {
        display: none !important;
    }
}