<div class="bg-color-1 " [ngClass]="{'hidden': page !== 1}">
    <div class="row justify-content-center align-self-center text-light text-center">
        <img src="/assets/img/auth/logo.png" class="mb-2" style="width: 30vh;">
        <h1 >Welcome to Osmos</h1>
        <p >Account setup and customization</p>
        <div>
            <a class="btn rounded-pill text-light my-3 btn-2" (click)="next(+1)" href="javascript:void(0)" >
                Let´s Get Started <i class="fa fa-arrow-right ms-2"></i>
            </a>
        </div>
        <div class=" position-absolute bottom-0 start-50 translate-middle-x" style="margin-bottom: 4vh;">
            <p>© 2020 Osmos Cloud. All Rights Reserved.</p>
            <p>Privacy Policy | Terms</p>
        </div>
    </div>
</div>
<div class="bg-color-1" [ngClass]="{'hidden': page !== 2}">
    <div class=" bg-light rounded-3 shadow position-relative p-r2" style="padding-bottom: 5%; width: 130vh; align-self: center;">
        <div class="py-2 px-5 bg-primary">
            <img class="" src="/assets/img/auth/logo.png" style="width:20vh;">
        </div>
        <div class="p-5">
            <h5 class="fs-9"><b>What is your business main type of activity?</b></h5>
            <p class="fs-7">Based on this information we will personalize your account.</p>
            <div class="d-flex div-select flex-wrap" style="grid-gap: 20px 59px;">
                <div class="container-elements-2">
                    <h6 class="fs-10">Select your industry</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="container-elements-2">
                    <h6 class="fs-10">type of activity</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0 m-5 container-btn">
            <a class="btn text-light btn-2" href="javascript:void(0)" (click)="next(+1)" >
                Next Step <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>

 <div class="fs-8 position-absolute bottom-0 start-50 translate-middle-x text-center text-light footer-onboarding" style="margin-bottom: 4vh;">
        <p>© 2020 Osmos Cloud. All Rights Reserved.</p>
        <p>Privacy Policy | Terms</p>
    </div>
</div>
<div class="bg-color-1" [ngClass]="{'hidden': page !== 3}">
    <div class=" bg-light rounded-3 shadow position-relative" style=" width: 180vh; align-self: center">
        <div class="py-2 px-5 bg-primary">
            <img class="" src="/assets/img/auth/logo.png" style="width:20vh;">
        </div>
        <div class="px-5 py-4">
            <h5 class="fs-9"><b>Let's identify your future needs to better help you</b></h5>
            <div class="d-flex div-select flex-wrap" style="grid-gap: 5vh 10vh;">
                <div>
                    <h6 class="fs-10">How many quotes are you planning to send per month?</h6>
                    <div class="d-flex p-2 justify-content-center flex-wrap" style="border: 2px solid #e5edf1; margin-right: 7vw; grid-gap: 10px 20px;">
                        <div class="shadow-sm" style="border-radius: 10px"><img  style="width: 12vh;" src="/assets/img/auth/calculator.png"></div>
                        <div class="d-flex function-cont">
                            <button class="btn border border-dark btn-cont cont-1 p-0" id="btn_menos">-</button>
                            <input id="cont" type="number" class="fs-9 input-num" value="0">
                            <button class="btn border border-dark btn-cont p-0 cont-2" id="btn_mas">+</button>
                        </div>
                    </div>
                </div>
               <div>
                    <h6 class="fs-10">How many new contacts are you planning to add per month?</h6>
                    <div class="d-flex p-2 justify-content-center flex-wrap" style="border: 2px solid #e5edf1; margin-right: 7vw; grid-gap: 10px 20px;">
                        <div class="shadow-sm" style="border-radius: 10px"><img  style="width: 12vh;" src="/assets/img/auth/grupo.png"></div>
                        <div class="d-flex function-cont">
                            <button class="btn border border-dark btn-cont p-0 cont-1" id="btn_menos">-</button>
                            <input id="cont" type="number" class="fs-9 input-num" value="0">
                            <button class="btn border border-dark btn-cont p-0 cont-2" id="btn_mas">+</button>
                        </div>
                    </div>
                </div>
                <div>
                    <h6 class="fs-10">How many sales reps and users need access to Osmos?</h6>
                    <div class="d-flex p-2 justify-content-center flex-wrap" style="border: 2px solid #e5edf1; margin-right: 7vw; grid-gap: 10px 20px;">
                        <div class="shadow-sm" style="border-radius: 10px"><img  style="width: 12vh;" src="/assets/img/auth/l1.png"></div>
                        <div class="d-flex function-cont">
                            <button class="btn border border-dark btn-cont p-0 cont-1" id="btn_menos">-</button>
                            <input id="cont" type="number" class="fs-9 input-num" value="0">
                            <button class="btn border border-dark btn-cont p-0 cont-2" id="btn_mas">+</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="position-absolute bottom-0 end-0 m-5 container-btn">
            <a (click)="next(+1)" class="btn  text-light btn-2" href="javascript:void(0)" >
                Next Step <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>
</div>
    <div class="fs-8 position-absolute bottom-0 start-50 translate-middle-x text-center text-light" style="margin-bottom: 4vh;">
        <p>© 2020 Osmos Cloud. All Rights Reserved.</p>
        <p>Privacy Policy | Terms</p>
    </div>
</div>
<div class="bg-color-1" [ngClass]="{'hidden': page !== 4}">
    <div class=" bg-light rounded-3 shadow position-relative" style="padding-bottom: 5%; width: 140vh; align-self: center">
        <div class="py-2 px-5 bg-primary">
            <img class="" src="/assets/img/auth/logo.png" style="width:20vh;">
        </div>
        <div class="px-5 py-4">
            <h5 class="fs-9"><b>In what country is your company based or for what country arer you planning to use Osmos for?</b></h5>
            <div class="d-flex div-select flex-wrap" style="grid-gap: 30px 60px;">
                <div class="container-elements-2">
                    <h6 class="fs-10">Country</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="container-elements-2">
                    <h6 class="fs-10">Select State or Province</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="container-elements-2">
                    <h6 class="fs-10">Time Zone</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="container-elements-2">
                    <h6 class="fs-10">Default Currency</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="container-elements-2">
                    <h6 class="fs-10">Sales Tax ID</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
                <div class="container-elements-2">
                    <h6 class="fs-10">Sales Tax %</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0 m-5 container-btn">
            <a class="btn text-light  btn-2" href="javascript:void(0)" (click)="next(+1)">
                Next Step <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>
    <div class="fs-8 position-absolute bottom-0 start-50 translate-middle-x text-center text-light" style="margin-bottom: 4vh;">
        <p>© 2020 Osmos Cloud. All Rights Reserved.</p>
        <p>Privacy Policy | Terms</p>
    </div>
</div>
<div class="bg-color-1" [ngClass]="{'hidden': page !== 5}" >
    <div class=" bg-light rounded-3 shadow position-relative p-r" style=" width: 185vh; align-self: center">
        <div class="py-2 px-5 bg-primary">
            <img class="" src="/assets/img/auth/logo.png" style="width:20vh;">
        </div>
        <div class="px-5 py-4">
            <h5 class="fs-9"><b>Review your company information</b></h5>
            <div class="d-flex div-select flex-wrap" style="grid-gap: 30px 50px;">
                <div>
                    <h6 class="fs-10">Add company logo</h6>
                    <div class="position-relative p-3 d-flex flex-wrap justify-content-center" style="border: 2px solid #e5edf1; grid-gap: 10px 20px;">
                    <input type="file" name="file-5" id="file-5" class="inputfile inputfile-5" data-multiple-caption="{count} archivos seleccionados" multiple />
                    <label for="file-5">
                    <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                    </figure>
                    <span class="iborrainputfile btn-3 bg-info">Upload File</span>
                    </label>
                    <div class="text-center fs-8" style=" margin-bottom: 7vh">
                        <p>Drog your files here or</p>
                        <p><b class="text-info fw-normal">browse</b> for files to upload</p>
                    </div>
                    </div>
                </div>
                <div class="container-elements-3">
                    <h6 class="fs-10">Website URL</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
                <div class="container-elements-3">
                    <h6 class="fs-10">Business Name</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
               <div class="container-elements-3">
                    <h6 class="fs-10">Business phone number</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
                <div class="container-elements-4">
                    <h6 class="fs-10">Business address</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
                <div class="container-elements-3">
                    <h6 class="fs-10">Main email address</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
                <div class="container-elements-3">
                    <h6 class="fs-10">Main contact name and last name</h6>
                    <input type="text" class="form-control shadow fs-7">
                </div>
        </div>
        <div class="position-absolute bottom-0 end-0 m-5 container-btn">
            <a class="btn text-light btn-2" href="javascript:void(0)" (click)="next(+1)" >
                Next Step <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>
</div>
    <div class="fs-8 position-absolute bottom-0 start-50 translate-middle-x text-center text-light" style="margin-bottom: 4vh;">
        <p>© 2020 Osmos Cloud. All Rights Reserved.</p>
        <p>Privacy Policy | Terms</p>
    </div>
</div>
<div class="bg-color-1" [ngClass]="{'hidden': page !== 6}">
    <div class=" bg-light rounded-3 shadow position-relative p-r" style=" width: 160vh; align-self: center">
        <div class="py-2 px-5 bg-primary">
            <img class="" src="/assets/img/auth/logo.png" style="width:20vh;">
        </div>
        <div class="px-5 py-4">
            <h5 class="fs-9"><b>Invite up-to 5 team members to Osmos</b></h5>
            <div class="d-flex div-select flex-wrap" style="grid-gap: 30px 60px;">
                <div class="container-elements">
                    <p class="mt-3" style="font-size: 1.6vh; color: #888">You can add more team members later.</p>
                    <h6 class="fs-10 mt-3">Enter email</h6>
                    <input type="text" class="form-control shadow fs-7">
                    <h6 class="fs-10 mt-3">Enter full name</h6>
                    <input type="text" class="form-control shadow fs-7">
                    <h6 class="fs-10 mt-3">Select a role</h6>
                    <select class="form-select shadow fs-7" aria-label="Default select example">
                        <option selected disabled>Please select role</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <p class="mt-3" style="font-size: 1.6vh; color: #888">Don´t worry, can change, create or personalize roles later.</p>
                    <a class="btn bg-primary text-white mt-3 d-flex justify-content-center" href="#" >
                       <p class="me-3" style="font-size: 5vh; line-height: 4vh;">+</p> <p class="align-self-center fs-7">Add New</p> 
                    </a>
                </div>
                <div>
                <h6 class="fs-10">List invite member</h6>
                <div class="conatiner-users p-1 fs-8">
                    <ul class="nav my-2">
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                    </ul>
                    <ul class="nav my-2">
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                    </ul>
                    <ul class="nav my-2">
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                        <li class="mx-3 my-1">sdfgh wrtjfe</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0 m-4 container-btn" style="right: 0">
            <a class="btn btn-4 m-2" (click)="next(+1)" href="javascript:void(0)" >
                Skip
            </a>
            <a class="btn text-light btn-2 m-2" (click)="next(+1)" href="javascript:void(0)" >
                Next Step <i class="fas fa-arrow-right ms-2"></i>
            </a>
        </div>
    </div>
    <div class="fs-8 position-absolute bottom-0 start-50 translate-middle-x text-center text-light" style="margin-bottom: 4vh;">
        <p>© 2020 Osmos Cloud. All Rights Reserved.</p>
        <p>Privacy Policy | Terms</p>
    </div>
</div>