.bg-img{
    background-color: #f8f8f8;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 11vh 0;
}

@media (max-width: 920px){
    .bg-img{
        height: 150vh;
        background-size: cover;
    }
}