<div class="form-div" id="sign-up-form">
    <h1 class="mt-5">{{"CREATEPASSWORD.TITLE" | translate}}</h1>
    <form [formGroup]="CreatePassForm" class="mt-5" required>
        <div id="account-div" >        
    <div id="input-field">
            <div id="first-name">
                <label class="label">{{"CREATEPASSWORD.password" | translate}}</label>
                <input (keyup)="getPass1()" formControlName="pass" type="password" name="pass" class="input" [ngClass]="{'border-danger' : CreatePassForm.controls['pass'].touched && CreatePassForm.controls['pass'].errors?.required}" id="pass" placeholder='{{"CREATEPASSWORD.password" | translate}}'>
                <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreatePassForm.controls['pass'].touched && CreatePassForm.controls['pass'].errors?.required">
                    {{"CREATEPASSWORD.passwordRequired" | translate}}
                </span>
            </div>
        <div id="last-name">
            <label class="label">{{"CREATEPASSWORD.retypePassword" | translate}}</label>
            <input (keyup)="getPass2()" formControlName="pass2" type="password" name="pass2" class="input" [ngClass]="{'border-danger' : CreatePassForm.controls['pass2'].touched && CreatePassForm.controls['pass2'].errors?.required}" id="pass2" placeholder='{{"CREATEPASSWORD.retypePassword" | translate}}'>
            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreatePassForm.controls['pass2'].touched && CreatePassForm.controls['pass2'].errors?.required">
                {{"CREATEPASSWORD.retypePasswordRequired" | translate}}
            </span>
            <div class="password-need " id="password-need-alert">
                <span ><i class="fa fa-2x" [ngClass]="{'fa-check-circle text-success' : passMust && pass1Checked, 'fa-exclamation-circle text-danger' : !passMust || !pass1Checked}"></i> </span>
                    <div class="row ">
                        <ul class="col-sm-6">
                            <li [ngClass]="{'text-success' : lengthChar, 'text-danger' : !lengthChar}"><i class="fa" [ngClass]="{'fa-check' : lengthChar, 'fa-times' : !lengthChar}"></i> {{"CREATEPASSWORD.8charlonger" | translate}}</li>
                            <li [ngClass]="{'text-success' : lowerCase, 'text-danger' : !lowerCase}"><i class="fa" [ngClass]="{'fa-check' : lowerCase, 'fa-times' : !lowerCase}"></i> {{"CREATEPASSWORD.lowercase" | translate}}</li>
                            <li [ngClass]="{'text-success' : numberCase, 'text-danger' : !numberCase}"><i class="fa" [ngClass]="{'fa-check' : numberCase, 'fa-times' : !numberCase}"></i> {{"CREATEPASSWORD.numbercase" | translate}}</li>
                        </ul>
                        <ul class="col-sm-6">
                            <li [ngClass]="{'text-success' : upperCase, 'text-danger' : !upperCase}"><i class="fa" [ngClass]="{'fa-check' : upperCase, 'fa-times' : !upperCase}"></i> {{"CREATEPASSWORD.uppercase" | translate}}</li>
                            <li [ngClass]="{'text-success' : passMust, 'text-danger' : !passMust}"><i class="fa" [ngClass]="{'fa-check' : passMust, 'fa-times' : !passMust}"></i> {{"CREATEPASSWORD.passwordmust" | translate}}</li>
                            <li [ngClass]="{'text-success' : especialChar, 'text-danger' : !especialChar}"><i class="fa" [ngClass]="{'fa-check' : especialChar, 'fa-times' : !especialChar}"></i> {{"CREATEPASSWORD.especialChar" | translate}}</li>
                        </ul>
                    </div>
            </div>
        </div>
        <button class="next-button btn-osmos mt-4" (click)="createPassFormSubmit()">{{"CREATEPASSWORD.TITLE" | translate}} </button>

    </div>
</div>
</form>
</div>
<ng-template #content let-modal>
    <div class="modal-body p-0 pb-4 ">
        <div >
            <img class="w-100 " src="/assets/img/auth/success.png" alt="success">
        </div>
        <div class="text-center">
            <p class="font-xx mt-5">{{"SIGNUP.success" | translate}}</p>
            <p class="text-muted font-large mt-3">{{"CREATEPASSWORD.create-password-modal" | translate}}</p>
            <button class="btn btn-osmos btn-lg mt-3" (click)="login()">{{"CREATEPASSWORD.login" | translate}}</button>
            
        </div>
    </div>
</ng-template>