#background img{
    width: 23%;
    position: absolute;
    right:0;
    top:-120px;
}
div#background {
    position:relative;
    min-width:350px;
}
html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 2rem;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
}
section{
    width: 62%;
    margin-left: 8%;
}
/*** Media Queries ***/
@media screen and (max-width: 768px) {
    #background img {
        top: -90px;
        width: 29.5%;
    }
}

@media screen and (max-width: 600px) {
    #background img {
        top: -80px;
        width: 34.5%;
    }
    section {
        margin-left: 5%;
    }
}

@media screen and (max-width: 500px) {
    #background img {
        top: -60px;
        width: 37%
    }
    section {
        margin-left: 3%;
    }
}

@media screen and (max-width: 425px) {
    #background img {
        display: none;
    }
    section {
        width: 96%;
    }
    section {
        margin-left: 2%;
    }
}

@media screen and (max-width: 375px) {
    #background img {
        display: none;
    }
}
