
.imgmodal {
    top: -40px !important;
    position: relative;
}

.form-div{
    width: 80%;
    margin-left: 20%;
    margin-top: -20px;
}
.form-div form{
    margin-top: 40px;
}
.form-div h1{
    text-align: center;
    color: #333333;
    width: 65%;
    font-size: 24px;
}
.form-div form label{
    display: block;
    font-size: 18px;
    letter-spacing: .5px;
    margin-top: 10px;
    color: #333333;
}
.form-div ::placeholder {
    color: #CACACA;
    opacity: 1;
}
.form-div form input[type=text],input[type=password],input[type=email],input[type=number]{
    margin-top: 20px;
    width: 60%;
    color: #333333;
    font-size: 16px;
    background-color: #F5F5F5;
    margin-left: 2%;
    border-radius: 5px;
    padding: 14px 10px;
    box-sizing: border-box;
    border: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.message-alert {
    padding: 10px 10px 5px 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    color: #A8A8A8;
    margin-top: 20px;
    margin-left: 2%;
    width: 75%;
}
.closebtn {
    color: #A8A8A8;
    float: right;
    font-size: 30px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: #0099FF;
}
.form-div .message-alert i{
    font-size: 40px;
    float: left;
    padding-right: 10px;
    color: #FA4141;
}
.message-alert a{
    color: #0099FF;
    text-decoration: none;
}
.form-div .message-alert .info{
    color: #FFB800;
}
.form-div .message-alert p{
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 12px;
}
.form-div #btn-div{
    overflow: auto;
    margin-top: 15px;
}
.form-div #submit-btn{
    float: left;
}
.form-div form input[type=submit]:hover{
    cursor: pointer!important;
}
.none{
    display: none;
}
.show{
    display: block;
}

#password-icon{
    position: relative;
}
#toggle_pwd
{
    cursor: pointer;
    position:absolute;
    color: #A8A8A8;
    right: 41%;
    top: 37px
}
.form-div form input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus{
    border: 2px solid #0099FF;
}
.form-div #text-after-input{
    width: 60%;
    margin-top: 20px;
    margin-left: 2%;
    text-align: right;
}
.form-div #text-after-input a{
    text-decoration: none;
    color: #0099FF;
}
.form-div form input[type=submit]{
    border: none;
    color: white;
    background-color: #0099FF;
    border-radius: 3px;
    padding: 15px 15px;
    font-size: 16px;
}
button.btn-osmos{
    border: none;
    color: white;
    background-color: #0099FF;
    border-radius: 3px;
    padding: 15px 15px;
    font-size: 16px;
}
.form-div #remember-me{
    padding: 6px 10px;
    margin-left: 40%;
    width: 200px;
    height: 50px;
}
.form-div #remember-me h5{
    float: left;
    font-size: 14px;
    margin: 10px 10px;
    color: #A8A8A8;
    font-weight: 100;
}

.form-div .switch {
    position: relative;
    display: inline-block;
    margin: 5px auto;
    width: 53px;
    height: 25px;
}
.form-div .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.form-div .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.form-div .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    margin-bottom: 3px;
    background-color: white;
    box-shadow: 0 0 5px darkgray;
    -webkit-transition: .4s;
    transition: .4s;
}
.form-div input:checked + .slider {
    background-color: #2196F3;
}
.form-div input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.form-div input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.form-div .slider.round {
    border-radius: 34px;
}
.form-div .slider.round:before {
    border-radius: 50%;
}
.form-div #link{
    float: none;
    font-size: 14px;
    color: #A8A8A8;
    margin-top: 40px;
}
.form-div #link button{
    text-decoration: none;
    color: #0099FF;
    font-size: 16px;
    background: none;
    border: none !important;
}
.form-div #link p{
    margin-top: 5px;
}
 input.highlight{
    border: 1px solid #FA4141!important;
}
 label.danger{
    color: #FA4141!important;
}
#reset-form #Forgot-url{
    margin-left: 40%;
}
#reset-form #Forgot-url h5{
    font-size: 14px;
    line-height: 48px;
    font-weight: 600;
}
#reset-form #Forgot-url a{
    text-decoration: none;
    color: #0099FF;
}
#reset-form #btn-div{
    /*margin-top: 80px;*/
    margin-top: 60px;
}
#reset-form #link{
    font-weight: bold;
}
#reset-form #link b{
    font-size: 25px;
    font-weight: bold;
}
#reset-form .reset-btn{
     float: none!important;
}
.form-div .message-alert .success{
    color: #22BC31;
}
#reset-form .find-url-btn,.confirm {
    float: none!important;
}
.form-div #text-after-input-left {
    width: 60%;
    margin-top: 20px;
    margin-left: 2%;
    text-align: left;
}
.form-div #text-after-input-left a {
    text-decoration: none;
    color: #0099FF;
}
#reset-code-form #btn-div{
    margin-top: 40px;
}
#reset-code-form #link{
    font-weight: bold;
}
#reset-password-form #btn-div{
    margin-top: 40px;
}
.reset-msg #btn-div{
    margin-top: 40px!important;
}
#first-last-name{
    display: flex;
    width: 100%;
}
#first-last-name input {
    width: 90%;
}
#first-name{
    float: left;
    width: 100%;
}
#last-name{
    float: left;
    width: 100%;
}
#sign-up-form{
    padding-bottom: 50px;
}
#sign-up-form #link label{
    display: unset;
    font-weight: 100;
}
#sign-up-form #submit-btn{
    float: right;
}
#sign-up-form #link{
    float: left;
    padding: 14px 0px;
    font-weight: bold;
    margin-top: 0px!important;
}
#sign-up-form #btn-div{
    overflow: auto;
}

#sign-up-form form{
    margin-top: 0px;
}
.container-step{
    margin-top: 30px;
    width: 70%;
    padding: 10px 0px;
}
.container-step .progress-step{
    display: flex;
    user-select: none;
}
.container-step .progress-step .step{
    text-align: center;
    width: 100%;
    position: relative;
}
.container-step .progress-step .step:first-child {
    margin-left: -10%;
}
.container-step .progress-step .step p{
    font-weight: 500;
    font-size: 16px;
    color: #A8A8A8;
    margin-bottom: 8px;
}
.progress-step .step .bullet{
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.18);
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.18));
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-step .step .bullet.active,.bullet.done{
    border-color: #0099FF !important;
    color: white;
    background: #0099FF;
}
.progress-step .step .bullet.done span:first-child{
    display: none;
}
.progress-step .step .bullet span:last-child{
    display: none;
}
.progress-step .step .bullet.done span:last-child{
    display: block;
}
.progress-step .step .bullet.done span{
    color: white;
}
.progress-step .step .bullet span{
    position: absolute;
    left: 50%;
    color: #CACACA;
    margin-top: 10px;
    transform: translateX(-50%);
}
.progress-step .step .bullet.active span,.active p.active{
    color: #FFFFFF;
}

.progress-step .step:before,
.progress-step .step:after{
    position: absolute;
    content: '';
    top: 25px;
    right: -20%;
    height: 3px;
    width: 40%;
    background: #CACACA;
}
.progress-step .done:before,
.progress-step .done:after{
    background: #0099FF;
}
.progress-step .step:last-child:after, .step:last-child:before{
    display: none;
}
.progress-step .step .bullet.active:after{
    background: #7d7d7d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-step .step:last-child .bullet:before,
.progress-step .step:last-child .bullet:after{
    display: none;
}
.progress-step .step p.active,p.done{
    color: #0099FF!important;
    transition: 0.2s linear;
}
.progress-step .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-step .step .check.active{
    display: block;
    color: #fff;
}
.form-div form input#next-step {
    padding: 15px 15px;
}
#sign-up-form input.warning-highlight{
    border: 1px solid #FFB800!important;
}
#sign-up-form input.highlight{
    border: 1px solid red!important;
}
#sign-up-form label.danger {
    color: red;
}
#sign-up-form label.warning{
    color: #FFB800!important;
}
#sign-up-form .message-alert .warning{
    color: #FFB800;
}
.password-need{
    width: 100% !important;
}
.password-need h4{
    text-align: left;
    color: #333333;
}
.password-need ul{
    list-style: none;
    // color: #0099FF;
    // margin-left: 5px;
    // padding-left: 5px;
}
.password-need ul li{
    margin-top: 5px;
}
.password-need ul a{
    text-decoration: none;
}
#password-need-alert {
    padding: 10px 10px 5px 10px;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    color: #A8A8A8;
    margin-top: 20px;
    margin-left: 2%;
    // width: 75%;
}

#sign-up-form p#checkbox-label{
    font-size: 16px;
    margin-top: 2px;
    margin-left: 40px;
    line-height: 30px;
}

#sign-up-form input#coupon{
    width: 30%;
}
#sign-up-form button#create-account{
    padding: 15px 20px;
}
.check-cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    line-height: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    border: solid 1px black;
    background-color: white;
}
.check-cont input:checked ~ .checkmark {
    background-color: #22BC31;
    border: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-cont input:checked ~ .checkmark:after {
    display: block;
}

.check-cont .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #ECECEC;
}
#page-container-step-overlay{
    opacity: .2;
}
.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 8px;
    border-color: #A8A8A8;
    border-top-color: #0099FF;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.valid {
    color: #4BBB30;
}

.valid:before {
    position: relative;
    left: -10px;
    content:'\2713';
}

.invalid {
    color: #FA4141;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "\274c"
}
.password-validator{
    width: 100% !important;
}
.password-validator p{
    margin-left: 15px!important;
}
#password-validator{
    overflow: auto;
}
#password-validator div:first-child{
    float: left;
    width: 250px;
}
#password-validator div:last-child{
     width:240px;
    overflow: hidden;
}

/*** Media Queries ***/
@media screen and (max-width: 768px) {
    body{
        padding-bottom: 3rem;
    }
    
    .form-div form input[type=text], input[type=password], input[type=email] {
        width: 90%;
    }
    .message-alert,.form-div #btn-div {
        width: 95%;
    }
    .form-div #link {
        margin-top: 40px;
    }
    .form-div #text-after-input {
        margin-left: 32%;
    }
    .form-div #remember-me {
        padding: 6px 0px;
        margin-left: 34%;
    }
    #reset-form #Forgot-url{
        margin-left: 53%;
    }
    .container-step{
        width: 100%;
    }
    #sign-up-form #submit-btn {
        margin-top: 20px;
    }
    #sign-up-form .sign-up-settings #submit-btn {
        margin-top: 0px;
    }
    .password-need{
        width: 100% !important;
    }
    #sign-up-form input#coupon{
        width: 40%;
    }
    #sign-up-form{
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    .form-div h1 {
        width: 80%;
    }
    #toggle_pwd {
        right: 28%;
    }
    section {
        margin-left: 5%;
    }
    
    .form-div #remember-me {
        float: none;
        margin-left: 0 !important;
        margin-top: 20px;
    }
    .form-div #submit-btn {
        float: none;
    }
    .form-div #link {
        margin-top: 40px;
    }
    .form-div form input[type=submit] {
        padding: 12px 22px;
    }
    #submit-btn button.next-button {
        padding: 12px 22px;
    }

    button.next-button:not([ng-reflect-is-disabled="false"])  {
        cursor: not-allowed
    }
    .form-div #Forgot-url{
        margin-left: 0% !important;
    }
    #reset-form #btn-div {
        margin-top: 60px;
    }
}
@media screen and (max-width: 500px) {
    body {
        padding-bottom: 4rem;
    }
    .form-div h1 {
        width: 85%;
    }
    .form-div {
        width: 90%;
        margin-left: 10%;
    }
    #toggle_pwd {
        right: 28%;
    }
    section {
        margin-left: 3%;
    }
    .form-div #link {
        margin-top: 50px;
    }
}
@media screen and (max-width: 425px) {
    .form-div h1 {
        width: 95%;
    }
    .form-div form input[type=text], input[type=password], input[type=email] {
        width: 90%;
    }
    #toggle_pwd {
        right: 13%;
    }
    section {
        width: 96%;
    }
    section {
        margin-left: 2%;
    }
    .form-div {
        margin-left: 6%;
    }
    .form-div #text-after-input {
        margin-left: 32%;
    }   
    .form-div #link {
        margin-top: 35px;
    }
    .container-step .progress-step .step:first-child {
         margin-left: 0%;
    }
}
@media screen and (max-width: 375px) {
    .form-div #link {
        margin-top: 30px;
    }
}