<div class="form-div" id="sign-up-form">
    <h1 class="mt-5">{{"FindMyUrl.TITLE" | translate}}</h1>
    <form [formGroup]="FMUForm" class="mt-5" required>
        <div id="account-div" >        
    <div id="input-field">
        <div id="last-name">
            <label class="label">{{"SIGNUP.emailAddress" | translate}}</label>
            <input formControlName="email" type="email" name="email" class="input" [ngClass]="{'border-danger' : FMUForm.controls['email'].touched && FMUForm.controls['email'].errors?.required}" id="email" placeholder='{{"SIGNUP.emailAddress" | translate}}'>
            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="FMUForm.controls['email'].touched && FMUForm.controls['email'].errors?.required">
                {{"SIGNUP.emailAddressRequired" | translate}}
            </span>
            <div class="password-need " id="password-need-alert" *ngIf="sended == true ">
                <span ><i class="fa fa-2x" style="vertical-align: middle;" [ngClass]="{'fa-check-circle text-success' : send, 'fa-exclamation-circle text-danger' : !send }"></i> &nbsp;
                    <span *ngIf="send == false">{{"RESETPASSWORD.mail-not-exits" | translate}}</span>
                    <span *ngIf="send == true">{{"RESETPASSWORD.mail-send" | translate}}</span>
                </span>
            </div>
        </div>
        <div class="row">
            <button class="next-button btn-osmos mt-4 col-md-5" (click)="findMyUrlFormSubmit()">{{"FindMyUrl.TITLE" | translate}} </button>
            <button class="btn btn-link mt-4 offset-md-1 col-md-6"  (click)="goToResetPassword()">{{"FindMyUrl.Reset Password?" | translate}}</button>
        </div>

    </div>
</div>
</form>
</div>