<div class="bg-img text-center text-sm-start ">
<section class="h-100 container">
    <div class="row h-100 align-items-lg-center">
        <div class="col-12 up-container">
            <img class="p-2 p-sm-3 ms-lg-5" src="/assets/img/auth/Vector.png">
    <div class="row justify-content-center ">
        <div class="shadow col-11 col-lg-10  container-form">
            <div class="row p-5">
                <div class="col-sm-8 ">
                    <div class="text-start " [ngClass]="{'hidden' : part1 === false}">
                        <h4 class="mt-2">Your plan expired..</h4>
                        <p class="mt-4">We have suspended your account temporarlly <br> until you renew your plan.</p>
                        <button type="button" (click)="renewNow()" class="btn text-light mt-2  btn-osmos"  >Renew Now</button>
                        <p class="text-muted mt-5">Need help? Contact us via phone: <a href="tel:123-456-789">123-456-789</a></p>
                        <p class="text-muted mt-2">Or via chat: &nbsp;&nbsp;<button type="button" class="btn btn-osmos-transparent ">Chat Now</button></p>
                    </div>
                    <div class=" " [ngClass]="{'hidden' : part2 === false}">
                        <div class="text-start col-md-8">
                            <h4 class="mt-2">Please confirm creditcard details</h4>
                            <form [formGroup]="CreditForm" required>
                                <div class="mt-3">
                                    <label for="card_number" class="form-label">Card Number</label>
                                    <div class="input-group mb-3" [ngClass]="{'border-danger border rounded-2' : CreditForm.controls['card_number'].touched && (CreditForm.controls['card_number'].errors?.required || CreditForm.controls['card_number'].errors?.notNumber)}">
                                        <input formControlName="card_number" type="text" class="form-control input-card" mask="0000 0000 0000 0000" id="card_number" placeholder="" >
                                        <span class="input-group-text input-addon-card"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                    <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['card_number'].touched && CreditForm.controls['card_number'].errors?.notNumber">
                                        Card number must be a number
                                    </span>
                                    <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['card_number'].touched && CreditForm.controls['card_number'].errors?.required">
                                        Card number is required
                                    </span>
                                </div>
                                <div class="mt-3">
                                    <label for="expiry" class="form-label">Expiry Date</label>
                                    <div class="row">
                                        <div class="col-sm-3">
                                                <input type="text" formControlName="expiry_day" class="form-control mt-1 input-card" id="expiry_day" placeholder="" [ngClass]="{'border-danger border' : CreditForm.controls['expiry_day'].touched && CreditForm.controls['expiry_day'].errors?.required}" mask="00">
                                                <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['expiry_day'].touched && CreditForm.controls['expiry_day'].errors?.required">
                                                    Day is required
                                                </span>
                                        </div>
                                        <div class="col-sm-5">
                                            <select formControlName="expiry_month" class="form-select mt-1 input-card" id="expiry_month">
                                                <option value="1">January</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select formControlName="expiry_year" class="form-select mt-1 input-card" id="expiry_year">
                                                <option value="2021">2021</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="row">
                                        <label for="cvv" class="form-label">CVV</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-6">
                                                <input mask="0000" formControlName="cvv" type="text" class="form-control mt-1 input-card" id="cvv" placeholder="" [ngClass]="{'border-danger border' : CreditForm.controls['cvv'].touched && CreditForm.controls['cvv'].errors?.required}">
                                            </div>
                                            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['cvv'].touched && CreditForm.controls['cvv'].errors?.required">
                                                    CVV is required
                                                </span>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" (click)="cardSubmit()" class="btn my-1 w-100 text-light btn-osmos" href="#" >Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <div class="" [ngClass]="{'hidden' : part3 === false}">
                        <div class="text-start col-sm-8">
                            <h4 class="mt-2">Please confirm creditcard details</h4>
                            <div class="mt-3">
                                <label for="card-number" class="form-label">Card Info</label>
                                <div class="card-info m-2 p-1 p-sm-4 rounded-1">
                                    <div class="row">
                                        <div class="col-sm-2 text-center">
                                            <i class="fa fa-credit-card text-osmos"></i>
                                        </div>
                                        <div class="col-sm-10 h5">
                                            {{CreditForm.controls['card_number'].value | mask: '0000 0000 0000 0000'}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 text-center">
                                            <i class="text-osmos">EXP</i>
                                        </div>
                                        <div class="col-sm-10 h5">
                                            {{CreditForm.controls['expiry_month'].value}} / {{CreditForm.controls['expiry_year'].value}}
                                        </div>
                                    </div>
                                    <div class="row mb-0">
                                        <div class="col-sm-2 text-center">
                                            <i class="text-osmos">CVV</i>
                                        </div>
                                        <div class="col-sm-10 h5">
                                            {{CreditForm.controls['cvv'].value}}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn my-1 w-100 text-light btn-osmos" href="#" >Confirm</button>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-12">
                                        <p class="text-muted mt-5">Not working anymore? <a (click)="addNewCard()" class="text-decoration-none" href="javascript:void(0)">Add new card</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="w-100" src="/assets/img/auth/img_g.png">
                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="footer-bolitas">
            <img class="w-100 " src="/assets/img/auth/bolitas.png">
        </div>
    </div>
    
</section>

</div>