.bg-img{
    background-color: #f8f8f8;
    height: 100vh;
}
.footer-bolitas{
    bottom: 0;
    float: left;
    position: absolute;
    left: 0;
    padding: 0;
    z-index: 100;
}
.img-ico{
    position: absolute;
    left: 0;
    margin: -45px 15%;
    width: 20vh;
    
}
.card-info{
    background-color: rgba(137, 202, 247, 0.15);
}
.container-form{
    background-color: #FFF;
    height: fit-content;
    z-index: 1000;
}

.input-card{
    background-color: #e9ecef;
    border: 0px ;
}
.input-addon-card{
    border: 0px !important;
}
@media (max-width: 920px){
    .bg-img{
        height: 150vh;
        background-size: cover;
    }
}
@media (min-width: 992px){
    .up-container{
        margin-bottom: 8rem !important;
    }
}

@media (max-width: 550px){
    .container-elements{
        width: 100% !important;
    }
    .footer-bolitas{
        display: none;
    }
}