<div class="form-div" id="sign-up-form">
    <h1 class="mt-5">{{"SignIn.TITLE" | translate}}</h1>
    <form [formGroup]="SignInForm" class="mt-5" required>
        <div id="account-div" >        
    <div id="input-field">
        <div id="first-name">
            <label class="label">{{"SignIn.username or email" | translate}}</label>
            <input formControlName="uoe" type="text" name="uoe" class="input" [ngClass]="{'border-danger' : SignInForm.controls['uoe'].touched && SignInForm.controls['uoe'].errors?.required}" id="uoe" placeholder='{{"SignIn.username or email" | translate}}'>
            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="SignInForm.controls['uoe'].touched && SignInForm.controls['uoe'].errors?.required">
                {{"SignIn.username or email is required" | translate}}
            </span>
        </div>
        <div id="last-name">
            <label class="label">{{"SignIn.password" | translate}}</label>
            <input formControlName="password" type="password" name="password" class="input" [ngClass]="{'border-danger' : SignInForm.controls['password'].touched && SignInForm.controls['password'].errors?.required}" id="password" placeholder='{{"SignIn.password" | translate}}'>
            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="SignInForm.controls['password'].touched && SignInForm.controls['password'].errors?.required">
                {{"SignIn.passwordRequired" | translate}}
            </span>
            <div class="col-sm-6 offset-sm-4">
                <button type="button" class="btn btn-link mt-0 offset-md-1 col-md-12"  (click)="goToResetPassword()">{{"SignIn.Forgot Password?" | translate}}</button>
            </div>
            <div class="password-need " id="password-need-alert" *ngIf="signin == true ">
                <span ><i class="fa fa-2x" style="vertical-align: middle;" [ngClass]="{'fa-check-circle text-success' : logged, 'fa-exclamation-circle text-danger' : !logged }"></i> &nbsp;
                    <span >{{"SignIn.username or password is wrong" | translate}}</span>
                </span>
            </div>
        </div>
        <div class="row " style="align-items: baseline">
            <div class="col-sm-6">
                <button type="submit" class="next-button w-100 btn-osmos mt-4 col-md-5" (click)="login()">{{"SignIn.TITLE" | translate}} </button>

            </div>
            <div class="col-sm-6">
                <div class="form-check form-switch">
                    <label class="form-check-label d-inline" for="flexSwitchCheckDefault">{{"SignIn.Remember Me" | translate}}</label>
                    <input class="form-check-input" checked type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            
        </div>

    </div>
</div>
</form>
</div>