<div class="bg-img text-center text-sm-start ">
<section class="h-100 container">
    <div class="row h-100 align-items-lg-center">
        <div class="col-12 up-container">
            <img class="p-2 p-sm-3 ms-lg-5" src="/assets/img/auth/Vector.png">
    <div class="row justify-content-center ">
        <div class="shadow col-11 col-lg-11  container-form">
            <div class="row p-5">
                <div class="col-sm-12 ">
                    <div class=" " [ngClass]="{'hidden' : part1 === false}">
                        <div class="text-start col-md-12">
                            <form [formGroup]="CreditForm" required>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h5>Your free trial is over!</h5>
                                        <h6>To continue using Osmos select one of the following plans:</h6>
                                        <div class="row">
                                            <div class="col-sm-4 offset-sm-4 mt-4 justify-content-center d-flex">
                                                <label class="switchBtn ">
                                                    <input type="checkbox" >
                                                    <div class="slide round"></div>
                                                </label>
                                            </div>
                                            <div class="col-sm-12 mt-2">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="square_pay border d-grid border-osmos rounded-2 p-3">
                                                            <h5 class="text-osmos mb-1">Pay as you go</h5>
                                                            <p class="text-osmos ">Simple sales solution pay as you go</p>
                                                            <p class="text-osmos ">&nbsp;</p>
                                                            <div class=" align-content-center">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="pay_go_new_quote">
                                                                    <label class="form-check-label text-osmos" for="pay_go_new_quote">
                                                                        <b>$1 USD</b> per new quote
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="pay_go_new_contact">
                                                                    <label class="form-check-label text-osmos" for="pay_go_new_contact">
                                                                        <b>$1 USD</b> per new contact
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-osmos disabled my-2 w-100">Select Plan</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="square_pay border d-grid border-osmos rounded-2 p-3">
                                                            <h5 class="text-osmos mb-2">Essential</h5>
                                                            <p class="text-osmos ">Track and automate your quotes and leads in less time</p>
                                                            <p class="text-osmos ">20 users</p>
                                                            <div class=" bottom-0">
                                                                        <h5 class="text-osmos">$33 <sup class="fw-normal">USD</sup></h5>
                                                                    <label class="mt-2 text-osmos">
                                                                        Per user/month billed monthly
                                                                    </label>
                                                                    <select class="form-select select-white bg-osmos my-2 text-white" aria-label="Default select example">
                                                                        <option value="1">50 quotes/month</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-osmos my-2 w-100">Select Plan</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="square_pay text-white d-grid bg-osmos rounded-2 p-3">
                                                            <h5 class=" mb-2">Professional</h5>
                                                            <p class=" ">Everything you need to collaborate, communicate and grow revenue.</p>
                                                            <span class=" ">40 users</span>
                                                            <div class=" bottom-0">
                                                                    <h5>$59 <sup class="fw-normal">USD</sup></h5>
                                                                    <label class="mt-2 ">
                                                                        Per user/month billed monthly
                                                                    </label>
                                                                    <select class="form-select select-osmos text-osmos mt-2 " aria-label="Default select example">
                                                                        <option value="1">50 quotes/month</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-osmos my-2 w-100 disabled">Select Plan</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="mt-3">
                                            <label for="add_new_email" class="form-label">Add-ons: </label>
                                            <div class="row">
                                                <div class="col-sm-12 mt-1">
                                                    <div class="addons-info rounded-2 p-2">
                                                        <ul class="ul-addons">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                    <label class="form-check-label" for="flexCheckDefault">
                                                                    Addon
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                    <label class="form-check-label" for="flexCheckDefault">
                                                                    Addon
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                    <label class="form-check-label" for="flexCheckDefault">
                                                                    Addon
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mt-3">
                                            <label for="add_new_email" class="form-label">Coupon Code:</label>
                                            <div class="row">
                                                <div class="col-sm-8 mt-1">
                                                    <input formControlName="coupon_code" type="email" class="form-control"  id="coupon_code" placeholder="" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="mt-3">
                                            <label for="add_new_email" class="form-label">Users: </label>
                                            <div class="row">
                                                <div class="col-sm-12 mt-1">
                                                    <div class="users-info rounded-2 p-2">
                                                        <ul class="ul-users">
                                                            <li>cristopherlizame@gmail.com <i class="fa fa-times text-danger cursor-pointer"></i></li>
                                                            <li>boxgamebig@gmail.com <i class="fa fa-times text-danger cursor-pointer"></i></li>
                                                            <li>boxgamebig@gmail.com <i class="fa fa-times text-danger cursor-pointer"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mt-3">
                                            <label for="add_new_email" class="form-label">Add user by email address:</label>

                                            <div class="row">
                                                <div class="col-sm-8 mt-1">
                                                    <input formControlName="add_new_email" type="email" class="form-control "  id="add_new_email" [ngClass]="{'border-danger' : CreditForm.controls['add_new_email'].touched && CreditForm.controls['add_new_email'].errors?.required}" placeholder="" >
                                                </div>
                                                <div class="col-sm-4 mt-1">
                                                    <button class="btn btn-osmos w-100">ADD</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="mt-2">Enter Credit Card details</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mt-3">
                                            <label for="card_number" class="form-label">Card Number</label>
                                            <div class="input-group mb-3" [ngClass]="{'border-danger border rounded-2' : CreditForm.controls['card_number'].touched && (CreditForm.controls['card_number'].errors?.required || CreditForm.controls['card_number'].errors?.notNumber)}">
                                                <input formControlName="card_number" type="text" class="form-control input-card" mask="0000 0000 0000 0000" id="card_number" placeholder="" >
                                                <span class="input-group-text input-addon-card"><i class="fa fa-credit-card"></i></span>
                                            </div>
                                            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['card_number'].touched && CreditForm.controls['card_number'].errors?.notNumber">
                                                Card number must be a number
                                            </span>
                                            <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['card_number'].touched && CreditForm.controls['card_number'].errors?.required">
                                                Card number is required
                                            </span>
                                        </div>
                                        <div class="mt-3">
                                            <div class="row">
        
                                                <div class="col-sm-2">
                                                    <label for="expiry" class="form-label position-absolute">Expiry Date</label>
                                                    <label for="expiry" class="form-label ">&nbsp;</label>
        
                                                        <input type="text" formControlName="expiry_day" class="form-control mt-1 input-card" id="expiry_day" placeholder="" [ngClass]="{'border-danger border' : CreditForm.controls['expiry_day'].touched && CreditForm.controls['expiry_day'].errors?.required}" mask="00">
                                                        <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['expiry_day'].touched && CreditForm.controls['expiry_day'].errors?.required">
                                                            Day is required
                                                        </span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <label for="expiry" class="form-label ">&nbsp;</label>
        
                                                    <select formControlName="expiry_month" class="form-select mt-1 input-card" id="expiry_month">
                                                        <option value="1">January</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="expiry" class="form-label ">&nbsp;</label>
        
                                                    <select formControlName="expiry_year" class="form-select mt-1 input-card" id="expiry_year">
                                                        <option value="2021">2021</option>
                                                    </select>
                                                </div>
        
                                                <div class="col-sm-2">
                                                    <label for="cvv" class="form-label">CVV</label>
        
        
                                                        <input mask="0000" formControlName="cvv" type="text" class="form-control mt-1 input-card" id="cvv" placeholder="" [ngClass]="{'border-danger border' : CreditForm.controls['cvv'].touched && CreditForm.controls['cvv'].errors?.required}">
                                                        <span style="color:Red;margin-left:2%;font-size:small;width: inherit;text-align: left;display:block" *ngIf="CreditForm.controls['cvv'].touched && CreditForm.controls['cvv'].errors?.required">
                                                            CVV is required
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- aqui falta otro s6 para el total y el boton -->
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="footer-bolitas">
            <img class="w-100 " src="/assets/img/auth/bolitas.png">
        </div>
    </div>
    
</section>

</div>