.bg-img{
    background-color: #f8f8f8;
}
.footer-bolitas{
    bottom: 0;
    float: left;
    position: absolute;
    left: 0;
    padding: 0;
    z-index: 100;
    display: contents;
}
.img-ico{
    position: absolute;
    left: 0;
    margin: -45px 15%;
    width: 20vh;
    
}
.users-info{
    background: rgba(3, 192, 252, 0.08);
    border: 1px solid #CBDBE4;
    overflow-x: auto;
    max-height: 12vh;
}
.addons-info{
    background: transparent;
    border: 1px solid #CBDBE4;
    overflow-x: auto;
    max-height: 12vh;
}
.ul-users{
    grid-gap: 5px;
    margin: 5px 0px;
    padding: 0;
    white-space: nowrap;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ul-users li{
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    color: #0099FF;
    display: inline-block;
    white-space: inherit;
        vertical-align: center;
}
.ul-addons{
    grid-gap: 5px;
    margin: 5px 0px;
    padding: 0;
    white-space: nowrap;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ul-addons li{
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    color: #0099FF;
    display: inline-block;
    white-space: inherit;
        vertical-align: center;
}
.container-form{
    background-color: #FFF;
    height: fit-content;
    background-image: url("/assets/img/auth/img_g_opacity.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 20vw;
    background-position-y: bottom;
    background-blend-mode: multiply;
    background-origin: content-box;
    z-index: 1000;
    overflow:auto;
}
.input-card{
    background-color: #e9ecef;
    border: 0px;
}
.input-addon-card{
    border: 0px !important;
}
.square_pay{
    min-height: 320px ;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, 10px);

}
.grid-rows-10{
    grid-row-end: 10;
}
.select-white{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");

}
.select-osmos{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%230099FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");

}
// Slider
    .switchBtn {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 42px;
    }
    .switchBtn input {display:none;}
    .slide {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        padding: 8px;
        color: #92A0A8;
        border: 1px solid #CBDBE4;
    }
    .slide:before{
        content:"Monthly";
        margin-left: 6px;
        display: block;
        margin-top: 0px;
    }
    .slide:after {
        position: absolute;
        content: "Annually";
        color: white;
        text-align: center;
        width: 50%;
        height: 40px;
        left: 50%;
        bottom: 0px;
        background-color: #0099FF;
        -webkit-transition: .4s;
        transition: .4s;
        vertical-align: middle;
        display: inline-grid;
        align-items: center;
        margin-top: 0px;
    }
    input:checked + .slide {
        padding-left: 40px;
    }
    input:focus + .slide {
        box-shadow: 0 0 1px #01aeed;
    }
    input:checked + .slide:after {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        left: -28px;
        content:"Monthly";
    }
    input:checked + .slide:before {
        
        content:"Annually";
        text-align: right;
        -webkit-transform: translateX(-26px);
        -ms-transform: translateX(-26px);
        transform: translateX(-26px);
        align-content: flex-end;
        right: -28px;
        display: block;
        margin-right: -14px;
        margin-top: 0px;
    }
        

    .slide.round {
        border-radius: 34px;
    }
    .slide.round:after {
        border-radius: 34px;
    }
// Slider End
@media (max-width: 920px){
    .bg-img{
        height: 150vh;
        background-size: cover;
    }
}
@media (min-width: 992px){
}

@media (max-width: 550px){
    .container-elements{
        width: 100% !important;
    }
    .footer-bolitas{
        display: none;
    }
    .ul-users{
        
        grid-template-columns: repeat(1, 1fr);
    }
}