/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.hidden{
    display: none !important;
}
.modal-content{
    border-radius: 41px;
}
.font-xx{
    font-size: xx-large;
}
.font-large{
    font-size: large;
}
.btn-osmos{
    background:#0099FF;
    color: white;
}
.bg-osmos{
    background-color:#0099FF;
}
.text-osmos{
    color:#0099FF;
}
.border-osmos{
    border-color:#0099FF !important;
}
.btn-osmos:hover{
    background:#0099FF;
}
.btn-osmos:active{
    background:#0082d8;
}
.btn-osmos-transparent{
    background:transparent;
    color: #0099FF;
    border-color: #0099FF;
}
.btn-osmos-transparent:hover{
    background:#0099FF;
    color: white;

}
.btn-osmos-transparent:active{
    background:#0099FF;
    color: white;
}
.cursor-pointer{
    cursor: pointer;
}